html, body {
    height: 100%;
}

body {
    margin: 62px;
    width: 95%;
    background-image: linear-gradient(to right, rgb(154, 164, 216) , rgb(7, 255, 247));
}
.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    background-color: white;
    color: rgb(0, 0, 0);
    height: 80%;
    width: 67%;
}

.form-div {
    width: 100%;
    margin: 5%;
}

#input-form {
    margin: 32px;
    width: 100%;
    padding-left: 13%;
}

button {
    cursor: pointer; 
}
